@font-face {
  font-family: "iconfont-xndatepicker"; /* Project id 2213760 */
  src: url('iconfont.woff2?t=1635732727513') format('woff2'),
       url('iconfont.woff?t=1635732727513') format('woff'),
       url('iconfont.ttf?t=1635732727513') format('truetype');
}

.iconfont-xndatepicker {
  font-family: "iconfont-xndatepicker" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xndatepickershanchu:before {
  content: "\e609";
}

.icon-xndatepickerrili:before {
  content: "\e673";
}

.icon-xndatepickerprev1:before {
  content: "\e600";
}

.icon-xndatepickerprev:before {
  content: "\e601";
}

