.xndatepicker-mobile-outer{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 99;
    opacity: 0;
    color: var(--color);
    /*pointer-events: none;*/
    /*display: none;*/
}

.xndatepicker-mobile {
    position: absolute;
    bottom:0;
    user-select: none;
    z-index: 999;
    width:100%;
    background: var(--background-color);
    left: 0;
    transform: translateY(100%);
    pointer-events: auto;
}
.xndatepicker-mobile .cancel-btn,.xndatepicker-mobile .confirm-btn{
    /*background: #2264d1;*/
    /*color: #fff;*/
    padding:0 10rem;
    font-size: 12rem;
}
.xndatepicker-mobile .confirm-btn{
    color: var(--primary-color);
}
.scroll-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 140rem;
    overflow: hidden;
    padding:10rem 0;
}
.scroll-container ul{
    position:relative;
    flex:1;
    text-align: center;
    font-size:12rem;
    list-style: none;
    padding:0;
    line-height: 2;
    margin:0;
    z-index: 2;

}
.scroll-container ul li{
    height: 28rem;
    line-height: 28rem;
}
.scroll-container>div{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
.current-bg{
    height: 28rem;
    width: 100%;
    position: absolute;
    top: 56rem;
    background: var(--range-background);
    pointer-events: none;
    left: 0;
}
.xndatepicker-head{
    font-size: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.3;
    border-bottom:1rem solid var(--border-color);
}

.shortcut-list{
    font-size: 12rem;
}
.shortcut-list ul{
    display: inline-flex;
    width:auto;
    /*width:2000px;*/
    /*flex-wrap: wrap;*/
}
.shortcut-list li{
    padding: 0 8rem;
    border: 1rem solid var(--border-color);
    line-height: 1.7;
    margin: 4rem 4px 0 4rem;
    white-space: nowrap;
    border-radius: 5rem;
}
.shortcut-list li.on{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.xndatepicker-mobile-input .clear-btn{
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 0;*/
    /*display: none;*/
    /*padding:0 10px;*/
}
.xndatepicker-mobile-input{
    min-width: 60px;
    display: flex;
}
.xndatepicker-mobile-input>div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.xndatepicker-mobile-input>span{
    padding:0 10px;
}
.xndatepicker-mobile-input .input{
    padding:0 10px;
}
.xndatepicker-mobile-input .input:empty:before{
    content:attr(data-placeholder);
}
.xndatepicker-mobile-input:hover .clear-btn{
    display: block;
}
.xndatepicker-mobile-input:hover .xndatepicker-input:before{
    display: none;
}

.xndatepicker-animate-mobile {
    animation: fadein .1s;
    transform-origin: bottom;
    animation-fill-mode:forwards;
    display: block;
}
.xndatepicker-animate-mobile-out{
    animation: fadeout .1s;
    animation-fill-mode:forwards;
}

.xndatepicker-animate-mobile>div{
    animation: ani1 .2s ease;
    transform-origin: bottom;
    animation-fill-mode:forwards;
}

.xndatepicker-animate-mobile-out>div{
    animation: ani-out1 .1s ease;
    transform-origin: bottom;
    animation-fill-mode:forwards;
}


@keyframes ani1 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes ani-out1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
