.xndatepicker-mobile-outer{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 99;
    opacity: 0;
    /*pointer-events: none;*/
    /*display: none;*/
}

.xndatepicker-mobile {
    position: absolute;
    bottom:0;
    user-select: none;
    z-index: 999;
    width:100%;
    background: #fff;
    left: 0;
    transform: translateY(100%);
    pointer-events: auto;
}
.scroll-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 140rem;
    overflow: hidden;
    padding:10rem 0;
}
.scroll-container ul{
    position:relative;
    flex:1;
    text-align: center;
    font-size:14rem;
    list-style: none;
    padding:0;
    line-height: 2;
    margin:0;
    z-index: 2;
}
.scroll-container ul li{
    height: 28rem;
}
.scroll-container>div{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
.current-bg{
    height: 26rem;
    width: 100%;
    position: absolute;
    top: 56rem;
    background: #efefef;
    pointer-events: none;
    left: 0;
    border-style: solid;
    border-color: #eee;
    border-width: 1rem 0 1rem 0;
}
.xndatepicker-head{
    font-size: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2;
    border-bottom:1rem solid #ccc;
}

.shortcut-list{
    font-size: 12rem;
}
.shortcut-list ul{
    display: inline-flex;
    width:auto;
    /*width:2000px;*/
    /*flex-wrap: wrap;*/
}
.shortcut-list li{
    padding:0 8rem;
    border:1rem solid #eee;
    line-height: 1.7;
    margin:4rem 2px 0 2rem;
    white-space: nowrap;
}
.shortcut-list li.on{
    border-color: #4a9bfe;
    color: #4a9bfe;
}
.clear-btn{
    position: absolute;
    right: 10px;
    top: 0;
    display: none;
}
.xndatepicker-mobile-input{
    min-width: 60px;
    display: flex;
}
.xndatepicker-mobile-input>div{
    position: relative;
    border:1px solid #ccc;
}
.xndatepicker-mobile-input>span{
    padding:0 10px;
}
.xndatepicker-mobile-input .input{
    min-width: 100px;
    padding:0 10px;
}
.xndatepicker-mobile-input .input:empty:before{
    content:attr(data-placeholder);
}
.xndatepicker-mobile-input:hover .clear-btn{
    display: block;
}
.xndatepicker-mobile-input:hover .xndatepicker-input:before{
    display: none;
}

.xndatepicker-animate-mobile {
    animation: fadein .1s;
    transform-origin: bottom;
    animation-fill-mode:forwards;
    display: block;
}
.xndatepicker-animate-mobile-out{
    animation: fadeout .1s;
    animation-fill-mode:forwards;
}

.xndatepicker-animate-mobile>div{
    animation: ani1 .2s ease;
    transform-origin: bottom;
    animation-fill-mode:forwards;
}

.xndatepicker-animate-mobile-out>div{
    animation: ani-out1 .1s ease;
    transform-origin: bottom;
    animation-fill-mode:forwards;
}


@keyframes ani1 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes ani-out1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
